@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
}
.scroll-up-btn a{
    position: fixed;
    width: 45px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #000000;
    border-radius: 30px;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
}
.scroll-up-btn a:hover{
    background-color: #260a2c;
}

body{
    background-color: #cecece;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

.container{
    justify-content: center;
    display: flex;
    width: 800px;
    border-radius: 10px;
    padding: 30px;
    border-radius: 10px;
    background: #620076;
    color: #fff;
    font-weight: bolder;
        /* box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2); */
}

nav{
    background: #620076;
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    height: 9vh;
}

.text2{
    padding: 20px;
    line-height: 35px;

}

.termos{
    display: flex;
    flex-direction: column;
    justify-content: center;
     font-family: 'Poppins', sans-serif; 
     font-size: 20px;
    padding-top: 10px;
}

.regras{
    padding: 15px;
}

.regras ul li{
    padding: 5px;
}

.title{
    justify-content: center;
    display: flex;
}

.title h1{
    margin-top: 25px;
}

 @media screen and(max-width: 800px){      
    .container{
     margin-top: 30px;
    }}